@import "icon";
@import "ingredient-results";

html body {
    background: #333333;
}

.main {
    padding: 10px 0;
}

.container {
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}

.receipt {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;

    a {
        &:hover {
            text-decoration: none;
        }
    }
    .description {
        img {
            max-width: 100%;
        }
    }
}